SpeechRecognition==3.15.2
pyttsx3==2.99
Pillow
pystray
pyTelegramBotAPI
appdirs
PyAudio==0.2.14
groq
httpx<0.28
psutil
apscheduler
tenacity
keyboard
pyautogui
edge-tts==7.2.8
pydub==0.25.1
elevenlabs==2.40.0
comtypes==1.4.16
pygame==2.6.1
sounddevice==0.5.5
